@font-face {
    font-family: 'IBMPlexSans-Regular';
    src: url("../fonts/IBMPlexSans-Regular.ttf");
}

@font-face {
    font-family: 'IBMPlexSerif-Regular';
    src: url("../fonts/IBMPlexSerif-Regular.ttf");
}

body {
    line-height: 17px;
    background-color: rgb(233, 233, 233);
}

.top_bar {
    width: 100%;
    min-width: 1050px;
    height: 40px;
    background-color: #2c3e50;
    border-bottom: 0.25em solid white;
    margin: 0 0 10px 0;
    display: inline-flex;
    position: fixed;
    z-index: 10;
}

.logo a {
    font-family: 'IBMPlexSerif-Regular', sans-serif;
    margin-left: 10px;
    font-size: 250%;
    position: relative;
    top: 9px;
}

a:hover {
    text-decoration: none;
}

nav {
    float: right;
    right: 1px;
    position: absolute;
    margin: 10px;
}

nav a {
    position: relative;
    color: white;
    text-decoration: none;
    font-size: 17px;
}

nav a:hover {
    border-bottom: 7px solid white;
    color: white;
}

.wrapper {
    margin: 0 auto;
    top: 50px;
    position: relative;
    padding: 0 10px;
    width: 80%;
    min-width: 1000px;
}

.column {
    background-color: white;
    padding: 10px;
    border: 1px solid #2c3e50;
    border-radius: 5px;
    box-shadow: 2px 2px 1px #2c3e50;
    z-index: -1;
}

.user_details {
    width: 400px;
    float: left;
    margin: 30px 0 10px 0;
    font-size: 20px;
}

.user_details_left_right {
    width: 125px;
    display: inline-block;
    position: absolute;
    margin-top: 10px;
}

.user_details img {
    height: 130px;
    border-radius: 5px;
    margin: 5px;
}

.main_column {
    background-color: white;
    float: right;
    width: 70%;
    min-width: 200px;
    max-width: 1000px;
    z-index: -1;
    min-height: 160px;
    margin-top: 30px !important;
    margin-left: 30px;
}

.post_form {
    width: 100%;
    margin-left: 10px;
}

.post_form textarea {
    width: 80%;
    height: 60px;
    border-radius: 5px;
    margin-right: 10px;
    border: 1px solid #D3D3D3;
    font-size: 15px;
    padding: 5px;
}

textarea:focus {
    outline: 0;
}

.post_form input[type="submit"] {
    width: 5%;
    min-width: 100px;
    height: 70px;
    border: none;
    border-radius: 3px;
    background-color: #4c7daf;
    font-family: 'IBMPlexSerif-Regular', sans-serif;
    color: white;
    text-shadow: blue 0.5px 0.5px 0px;
    font-size: 150%;
    position: absolute;
    outline: 0;
    margin: 0;
    margin-right: 10px;
}

.post_form input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}